node_modules/
.env
.env.*
.next/
dist/
build/
dev.db
*.sqlite
*.db
/.vscode/
.DS_Store
coverage/
coverage-final.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.idea/
*.log
/*.tgz
/.sass-cache
/.cache
/.parcel-cache
/.firebase
/.serverless
/.vercel
/.vercel-build